<nav class="navbar navbar-expand-lg navbar-light">
    <%=link_to "即WORK", "/", class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        <%if current_user %>
      　　<ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%=link_to "ログイン", "/users/sign_in", class: "nav-link active" %>
          </li>          <li class="nav-item">
            <%=link_to "新規登録", "/users/sign_up", class: "nav-link active" %>
          </li>
        </ul>
          <ul class="navbar-nav ml-md-auto text-right">
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger sign"%>
              </li>
          </ul>
        <%elsif current_company %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%=link_to "ログインする", "/users", class: "nav-link active" %>
          </li>          <li class="nav-item">
            <%=link_to "新規登録する", "/companies", class: "nav-link active" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-md-auto text-right">
          <li class="nav-item">
            <%= link_to "求人を募集する", companies_offer_path, class: "btn btn-outline-warning sign"%>
            <%= link_to "ログアウト", destroy_company_session_path, method: :delete, class: "btn btn-outline-danger sign"%>
            <%= link_to "", companies_show_path, class: "fas fa-users"%>
          </li>
        </ul>
        <%else%>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%=link_to "ログイン", "/users/sign_in", class: "nav-link active" %>
          </li>          <li class="nav-item">
            <%=link_to "新規登録", "/users/sign_up", class: "nav-link active" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-md-auto text-right">
          <li class="nav-item"> 
            <%=link_to "求人掲載について", "/companies", class: "btn btn-outline-primary sign"%>
          </li>
          <li class="nav-item">
            <%=link_to "企業様用ログイン", "/companies/sign_in", class: "btn btn-outline-warning sign"%>
          </li>
        </ul>
        <%end%>
    </div>
</nav>