<div class="container col-lg-9">
        <div class="card detail-image-card">
          <img src="<%= @offer.images.to_s%>" class="detail-image">
        </div>
        <h4 class="detail-title"><%=@offer.title%></h4>
        <span class="badge badge-success"><%=@offer.category.name%></span>
        <%@offer.offer_walfares.each do |offer_walfare|%>
        <span class="badge badge-success">
            <%=offer_walfare.walfare.name%>
        </span>
        <%end%>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="text-nowrap" style="width: 120px">日時</th>
              <td><%=@offer.date.strftime("%Y年%m月%d日")%><br><%= @offer.start_time%>〜<%= @offer.end_time%></td>
            </tr>
            <tr>
              <th>仕事内容</th>
              <td><%= simple_format(@offer.contents) %></td>
            </tr>
            <tr>
              <th>注意事項</th>
              <td><%=simple_format(@offer.cautions)%></td>
            </tr>
            <tr>
              <th>持ち物</th>
              <td><%=@offer.belongings%></td>
            </tr>
            <tr>
              <th>働くための条件</th>
              <td><%=simple_format(@offer.conditions)%></td>
            </tr>
            <tr>
              <th>勤務先住所</th>
              <td><%=@offer.address%></td>
            </tr>
            <tr>
              <th>報酬</th>
              <td>¥<%=@offer.payment.to_s(:delimited)%></td>
            </tr>
        </table>
        <p>※連絡先は応募終了後に確認できます</p>
        <div class="applicaton-button text-right">
          <%if user_signed_in?%>
            <%=form_with scope: :applicants, url: "/pages/create/"+@offer.id.to_s, local: true do |f|%>
              <%= f.hidden_field :name, value: @user.name%>
              <%= f.hidden_field :photo, value: @user_profile.profile_photo%>
              <%= f.hidden_field :introduction, value: @user_profile.introduction%>
              <%= f.hidden_field :phone_number, value: @user.phone_number%>
              <%= f.hidden_field :birthday, value: @user.birthday%>
              <%= f.hidden_field :gender, value: @user.gender%>
              <%= f.submit "応募する", class: "btn btn-primary submit-button" %>
            <% end %>
          <%else%>
            <a href="/users/sign_in", class="btn btn-primary submit-button">応募する</a>
          <%end%>
        </div>
</div>
<a href="/search"><<戻る</a>
