<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-1 mb-4 setting-option">
          <h4 class="d-flex align-items-center mb-3">
            <span class="text-muted">マイページメニュー</span>
          </h4>
          <ul class="list-group">
            <li class="list-group-item">
              <%=link_to "応募者の確認", "/companies/confirmation", class:"list-group-link"%>
            </li>
            <li class="list-group-item">
              <%=link_to "企業情報の設定", "/companies/edit", class:"list-group-link"%>
            </li>
          </ul>
        </div>
        <div class="col-md-8 order-md-2 setting-profile">
          <h4 class="mb-3">応募者の確認</h4>
          <div class="needs-validation novalidate">
            <div class="row">
              <div class="col-md-12 mb-3">
                <%@applicants.each do |a|%>
                <div class="card confirmation-card">
                  <h5 class="card-header"><%=a.offer.title%>への応募</h5>
                  <div class="card-body">
                    <div class="media">
                        <%if a.user.user_profile.nil? %>
                          <img src="/assets/unknown.jpg" class="mb-3 user_photo">
                        <%else%>
                          <%=image_tag a.user.user_profile.profile_photo.to_s, class:"user_photo"%>
                        <%end%>
                        <div class="media-body">
                            <h5 class="mt-0">
                              <%=a.user.name%>様
                              (<%=(Date.today.strftime(@date_format).to_i - a.user.birthday.strftime(@date_format).to_i) / 10000%>)
                              <%=a.user.gender%>
                            </h5>
                            <p>連絡先[<%=a.user.phone_number%>]</p>
                            <%if a.user.user_profile.nil? %>
                              <p>よろしくお願いします！</p>
                            <%else%>
                              <p><%=simple_format(a.user.user_profile.introduction)%></p>
                            <%end%>
                        </div>
                    </div>
                  </div>
                </div>
                <%end%>
              </div>
            </div>
          </div>
          <div class="pagenation"><%= paginate @applicants %></div>
        </div>
    </div>
</div>
