<div class="container">
    <h2 class="copy">求人募集作成ページ</h2>
    <%= form_with scope: :offers, url: "/companies/create" do |f| %>
        <div class="form-group">
            <%=label_tag "offers-category", "職種のカテゴリー"%>
            <%=f.select :category, [["飲食・フード","飲食・フード"],["接客・サービス","接客・サービス"],["販売","販売"],["オフィスワーク", "オフィスワーク"],["軽作業・配送","軽作業・配送"],["イベント・キャンペーン","イベント・キャンペーン"]],{ :prompt => "選択してください"}, id:"offers-category", class:"form-control"%>
        </div>
        <div class="form-group">
            <%=label_tag "offers-title", "タイトル"%>
            <%=f.text_field :title, id:"offers-title", placeholder: "ファミマ即WORK店レジ業務経験必須!!", class:"form-control"%>
        </div>
        <div class="form-group">
            <%=label_tag "offers-date", "出勤日"%>
            <%=f.date_field :date, id:"offers-date", class:"form-control col-md-2"%>
        </div>
        <div class="form-group">
            <%=label_tag "offers-start-time", "出勤時間"%>
            <%=f.time_field :start_time, id:"offers-start-time", class:"form-control col-md-2"%>
            <p>〜</p>
            <%=f.time_field :end_time, id:"offers-end-time", class:"form-control col-md-2"%>
        </div>
        <div class="form-group">
            <%=label_tag "offers-contents", "業務内容"%>
            <%=f.text_area :contents, id:"offers-contents", placeholder: "", class:"form-control"%>
        </div>
        <div class="form-group">
            <%=label_tag "offers-caution", "注意事項"%>
            <%=f.text_area :caution, id:"offers-caution", placeholder: "", class:"form-control"%>
        </div>
        <div class="text-right">
            <%=submit_tag "募集する", class:"btn btn-primary"%>
        </div>
    <%end%>
</div>