<div class="container">

    <h3 class="copy">企業様の編集ページです</h3>
    
    <div class="offer-list">
      <div class="container">
        <div class="row">
        <% @offers.each do |offer| %>
        <div class="col-lg-4 col-md-6 col-sd-12">
          <div class="card">
            <p><%= image_tag offer.images.to_s, class: "offer-img card-img-top" %></p>
            <div class="card-body">
              <h6 class="card-title"><%= offer.title%></h6>
              <p class="card-text"><%= offer.date%><br><%= offer.start_time%>〜<%= offer.end_time%></p>
              <h5 class="payment">¥<%=offer.payment.to_s(:delimited)%></h5>
              <div class="edit-buttons">
                <a href="/companies/offer/<%=offer.id%>" data-method="delete", class:"edit-buttons">削除</a>
                <a href="/companies/offer/<%=offer.id%>/edit", class:"edit-buttons">編集</a>
              </div>
            </div>
          </div>
        </div>
        <%end%>
            　　
          <div class="main"></div>
        </div>
      </div>
    </div>
        
</div>