<div class="container">
  
    <h3 class="copy">企業様の編集ページです</h3>
    
    <div class="offer-list">
      <div class="container">
        <div class="row">
          <% @offers.each do |offer| %>
            <div class="col-md-4 col-sm-6">
              <p><%= image_tag offer.images.to_s,class: "offer-img" %></p>
              <h5><%= offer.title%></h5>
              <p><%= offer.date%></p>
              <p class="time"><%= offer.start_time%>〜<%= offer.end_time%></p>
              <div class="edit-buttons">
                <a href="/companies/offer/<%=offer.id%>" data-method="delete">削除</a>
                <a href="/companies/offer/<%=offer.id%>/edit">編集</a>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
        
</div>